{% extends "base.html" %}

{% block content %}
<form method="POST" class="app-main-inner">
    <div class="app-main-tiled-single-column">
        <section class="app-tile-section">
            <h2>{% block form_title %}Form{% endblock form_title %}</h2>
            {% if form.errors %}
                <div class="app-form-errors">
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <div class="app-form-error-line"> {{ error }} </div>
                    {% endfor %}
                {% endfor %}
                </div>
            {% endif %}
            
            {% csrf_token %}
            {% for field in form %}
                {{ field.label }}
                {{ field }}
                {{ field.help_text }}
            {% endfor %}
            
            <div class="app-form-buttons-row">
                <button type="submit" class="app-button app-button-accent app-button-submit">{% block form_submit_text %}Submit{% endblock form_submit_text %}</button>
            </div>
        </section>
    </div>
</form>
{% endblock content %}
