{% extends "base.html" %}

{% block back_button %}{% endblock back_button %}

{% block body_class %}app-body-homepage{% endblock %}

{% block content %}
<div class="app-main-homepage-inner">
    <div class="app-main-homepage-about">
        <h2>About Us</h2>
        At <em>Aegis Auto</em> we are dedicated to providing reliable and affordable car insurance tailored to meet your needs. With years of experience in the industry, our mission is to protect you on the road while delivering exceptional customer service.
    </div>
    <a href="{% url 'insurance_pricing' %}" class="app-button-accent" style="align-self: center;">Check Vehicle Pricing</a>
</div>
{% endblock content %}
