{% extends "base.html" %}

{% block content %}
<form method="POST" class="app-main-inner">
    <div class="app-main-tiled-single-column">
        <section class="app-tile-section">
            <h2>Login</h2>
            <div class="app-form-root">
                {% if form.errors %}
                    <div class="app-form-errors">
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <div class="app-form-error-line"> {{ error }} </div>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endif %}

                <div class="app-form-block">
                    {% csrf_token %}

                    <label for="username">E-mail:</label>
                    <input type="email" name="username" maxlength="150" required>
            
                    <label for="password">Password:</label>
                    <input type="password" name="password" autocomplete="current-password">
                </div>
            </div>

            <button type="submit" class="app-button-submit app-button-accent">Login</button>
        </section>
    </div>
</form>
{% endblock content %}
